*.~* 
__history/ 
*.dcu 
*.local 
*.identcache 
*.exe 
*.rsm
*.bat 
*.dll 
*.map 
*.tds 
*.dsk 
.DS_Store 

__recovery/
Debug/
Release/
Win32/
Win64/
!Lib/
!Lib/Skia/
!Lib/Skia/Win64/
!Lib/Skia/Win64/sk4d.dll
